// 項目提供 scss 全域變量
$base-color: #FFDC35;

// slider 
$base-slider-width: 260px;
$base-slider-background: #403f3c;

// logo
$base-logo-height: 50px;
$base-logo-title-fontSize: 20px;

// tabbar
$base-tabBar-height: 100px;
$base-tabBar-background: #97938f;


